<footer class="bg-dark text-light py-4 container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Horaires d'ouverture</h3>
				<table class="table table-borderless text-light">
					<tr>
						<td>Lundi</td>
						<td>09:00 - 18:00</td>
					</tr>
					<tr>
						<td>Mardi</td>
						<td>09:00 - 18:00</td>
					</tr>
					<tr>
						<td>Mercredi</td>
						<td>09:00 - 18:00</td>
					</tr>
					<tr>
						<td>Jeudi</td>
						<td>09:00 - 18:00</td>
					</tr>
					<tr>
						<td>Vendredi</td>
						<td>09:00 - 18:00</td>
					</tr>
					<tr>
						<td>Samedi-Dimanche</td>
						<td>Fermé</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4">
				<div
					class="contact-info">
					<!-- Formulaire (numéro, email) -->
					<h3>Contact</h3>
				</div>
				<button class="btn btn-primary mt-3" data-toggle="modal" data-target="#contact-modal">Prendre RDV</button>
			</div>
		</div>
	</div>
</footer>
