
			<footer class="bg-dark text-light py-4 container-fluid">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div
								class="opening-hours">
								<!-- Horaires d'ouverture a changer  -->
								horaires-d'ouverture
							</div>
						</div>
						<div class="col-md-6">
							<div
								class="contact-info">
								<!-- Contacts du garage (numéro, email) -->
								contactInfo
							</div>
							<button class="btn btn-primary mt-3" data-toggle="modal" data-target="#contact-modal">Prendre contact</button>
						</div>
					</div>
				</div>
			</footer>