<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Logo</a>
        
        {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button> #}

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-inline-flex d-md-flex d-lg-flex">
                <li class="nav-item">
                    <a class="nav-link" href="#prestations">Prestations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#vehicules">Véhicules d'occasion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#temoignages">Témoignages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="d-flex">
            <a href="{{path('app_login')}}" class="btn btn-primary px-2 py-1 mx-2">Se connecter</a>
            <button class="btn btn-primary px-2 py-1 mx-2">Mon compte</button>
        </div>
    </nav>
</header>